/* KANBOARD PLUGIN - KANBOARD PLUGINS UX CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-orange: #FF6500;
    --border-radius: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --header-page-margin: 5px 15px 10px 15px;
    --page-margin: 0px 15px 0px 15px;
    --title-margin: 0px 15px 0px 15px;
}

.display-none, .d-none {
    display: none !important;
}

#main .page-header {
    margin: var(--header-page-margin);
}

.page-margin {
    margin: var(--page-margin);
}

.page-title {
    margin: var(--title-margin);
}

.plugin-menu svg, .plugin-name svg {
    vertical-align: sub;
}

.installed-title {}

.plugin-installed-filter {
    display: block;
    margin: 10px auto 25px auto;
    text-align: center;
}

.plugin-installed-filter label {
    display: inline;
}

.plugin-installed-filter label svg {
    vertical-align: sub;
    margin-right: 5px;
}

.plugin-installed-filter input {
    width: 300px;
    padding: 3px 3px 4px 3px;
    font-size: 1em;
    border: 2px solid var(--blue-border-gradient-match);
}


#InstalledPluginsTable {
    border-collapse: separate;
    border-spacing: 5px;
}

#InstalledPluginsTable thead {
    background-color: var(--pp-white);
    margin-bottom: 10px;
}

.installed-plugins {}

.installed-plugins th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
    border: 2px solid var(--blue-border-gradient-match) !important;
}

.plugin-info {}

.plugin-name {
    font-weight: bold;
    font-size: 1.1em;
}

.plugin-name svg {
    margin-right: 4px;
    color: var(--pp-grey);
    fill: var(--pp-grey);
}

.plugin-author {}

.plugin-version {}

.plugin-compatible-version {}

.not-specified {}

.plugin-schema {}

.plugin-homepage {}

.btn-uninstall {}

.plugin-description {}
