/* KANBOARD PLUGIN - KANBOARD PLUGINS UX CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-orange: #FF6500;
    --border-radius: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --header-page-margin: 5px 15px 10px 15px;
    --page-margin: 0px 15px 0px 15px;
    --title-margin: 0px 15px 0px 15px;
    --table-head-box-shadow: 0px 0px 5px 0px #000;
    --table-head-text-shadow: 2px 2px #373737;
    --button-background-delete: #D05C84;
    --tooltip-box-shadow: 1px 1px 1px 0px #000;
}

div, a, details, summary, i, img, table, tr, .btn-uninstall {
    transition: ease-in-out all .3s;
}

.display-none, .d-none {
    display: none !important;
}

#main .page-header {
    margin: var(--header-page-margin);
}

.page-margin {
    margin: var(--page-margin);
}

.page-title {
    margin: var(--title-margin);
}

.plugin-menu svg, .plugin-name svg {
    vertical-align: sub;
}

.installed-title {}

.plugin-installed-filter {
    display: block;
    margin: 10px auto 25px auto;
    text-align: center;
}

.plugin-installed-filter label {
    display: inline;
}

.plugin-installed-filter label svg {
    vertical-align: sub;
    margin-right: 5px;
}

.plugin-installed-filter input {
    width: 375px;
    padding: 3px 3px 4px 3px;
    font-size: 1em;
    border: 2px solid var(--blue-border-gradient-match);
}


#InstalledPluginsTable {
    margin-bottom: 0;
}

#InstalledPluginsTable thead {}

#InstalledPluginsTable tbody {
    border: 2px inset var(--blue-border-gradient-match) !important;
}

#InstalledPluginsTable > tbody > tr > td {
    border: 0 !important;
}

#InstalledPluginsTable > thead > tr > th {
    border: 2px inset var(--blue-border-gradient-match) !important;
    box-shadow: var(--table-head-box-shadow);
    background: var(--button-blue-border-gradient-match);
    color: var(--pp-white);
    text-shadow: var(--table-head-text-shadow);
    text-transform: uppercase;
    font-size: .9em;
}

.installed-plugins {}

.installed-plugins th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
    border: 2px solid var(--blue-border-gradient-match) !important;
}

.plugin-info {}

.plugin-name {
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: middle;
}

.plugin-name svg {
    margin-right: 4px;
    color: var(--pp-grey);
    fill: var(--pp-grey);
}

.plugin-author {
    font-size: .9em;
    font-style: italic;
    vertical-align: middle;
}

.plugin-version {
    vertical-align: middle;
}

.plugin-compatible-version {
    vertical-align: middle;
}

.not-specified {
    vertical-align: middle;
}

.plugin-schema {
    vertical-align: middle;
    display: inline-block;
    color: var(--pp-orange);
    margin: auto 2px;
}

.plugin-homepage {
    vertical-align: middle;
    margin: auto 2px;
}

.btn-action, .btn-action:visited, span.btn-uninstall a {
    text-align: center;
    display: inline-block;
    border-radius: var(--border-radius);
    text-decoration: none !important;
}

.btn-action {
    padding: 1px 4px 1px 5px;
    border: 1px solid var(--pp-grey);
}

.btn-uninstall {
    vertical-align: middle;
    background: var(--button-background-delete);
    padding: 2px 4px 2px 2px;
    margin: auto 2px;
    border-radius: var(--border-radius);
    border: 1px solid var(--pp-grey);
}

.btn-uninstall a {
    color: var(--pp-white);
}

.btn-uninstall:hover {
    background: var(--pp-white);
}

.btn-uninstall:hover a i {
    color: var(--pp-red-alt-2);
}

.plugin-description {}

.plugin-description td {
    padding-top: 1em;
    padding-bottom: .5em;
}

#PluginTop {
    display: block;
    right: 0;
    position: relative;
    float: right;
    margin-top: 3px;
}

.tooltip-section {
    width: 500px;
}

.tooltip-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.tooltip-title i {
    color: var(--pp-orange);
    margin-right: 3px;
}

.tooltip-hr {
    box-shadow: var(--tooltip-box-shadow);
}

.tooltip-content {
    font-size: .8em;
}

.tooltip-content .tooltip-link {}
.tooltip-link {}

.not-specified {
    font-style: italic;
}
