/* KANBOARD PLUGIN - PLUGIN MANAGER CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-orange: #FF6500;
    --border-radius: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --header-page-margin: 5px 15px 10px 15px;
    --page-margin: 0px 15px 0px 15px;
    --title-margin: 0px 15px 0px 15px;
    --table-head-box-shadow: 0px 0px 5px 0px #000;
    --table-head-text-shadow: 2px 2px #373737;
    --button-background-delete: #D05C84;
    --tooltip-box-shadow: 1px 1px 1px 0px #000;
    --table-blue-border-gradient-match: #476E9E;
    --table-head-padding: 4px 15px;
}

div, a, details, summary, i, img, table, tr, .btn-uninstall {
    transition: ease-in-out all .3s;
}

.display-none, .d-none {
    display: none !important;
}

.font-weight-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

#main .page-header {
    margin: var(--header-page-margin);
}

.page-header h2 {
    border-bottom: 2px outset var(--blue-border-gradient-match) !important;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 1.6em;
    padding-top: 5px;
}

.page-header h2 svg {
    top: 2px;
    position: relative;
}

.page-margin {
    margin: var(--page-margin);
}

.page-title {
    margin: var(--title-margin);
}

.plugin-menu svg, .plugin-name svg {
    vertical-align: sub;
}

.installed-title {}

.plugin-count {
    font-style: italic;
}

.plugin-installed-filter {
    display: block;
    margin: 10px auto 25px auto;
    text-align: center;
}

.plugin-installed-filter label {
    display: inline;
}

.plugin-installed-filter label svg {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.plugin-installed-filter input {
    width: 375px;
    padding: 3px 3px 4px 3px;
    font-size: 1em;
    border: 2px solid var(--blue-border-gradient-match);
}


#InstalledPluginsTable {
    margin-bottom: 0;
}

#InstalledPluginsTable thead {}

#InstalledPluginsTable tbody {
    border: 2px inset var(--blue-border-gradient-match) !important;
}

#InstalledPluginsTable > tbody > tr > td {
    border: 0 !important;
    padding: 4px 15px;
}

#InstalledPluginsTable > thead > tr > th {
    border: 2px inset var(--blue-border-gradient-match) !important;
    box-shadow: var(--table-head-box-shadow);
    background: var(--table-blue-border-gradient-match) !important;
    color: var(--pp-white);
    text-shadow: var(--table-head-text-shadow);
    font-weight: 600;
    letter-spacing: 0.04125em;
    padding: var(--table-head-padding);
}

.installed-plugins {}

.installed-plugins th {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
    border: 2px solid var(--blue-border-gradient-match) !important;
}

.plugin-info {}

.plugin-name {
    font-weight: bold;
    font-size: 1em;
    vertical-align: middle;
}

.plugin-name svg {
    margin-right: 4px;
    color: var(--pp-grey);
    fill: var(--pp-grey);
}

.plugin-author {
    font-size: .9em;
    font-style: italic;
    vertical-align: middle;
}

.plugin-version {
    vertical-align: middle;
}

.plugin-compatible-version {
    vertical-align: middle;
}

.not-specified {
    vertical-align: middle;
}

.plugin-schema {
    vertical-align: middle;
    display: inline-block;
    color: var(--pp-orange);
    margin: auto 2px;
}

.plugin-homepage {
    vertical-align: middle;
    margin: auto 2px;
}

.plugin-homepage a {
    padding-bottom: 0px;
    padding-top: 3px;
    padding-right: 5px;
}

.plugin-homepage a svg {}

.plugin-action {
    width: 100px;
    padding: 4px 5px 4px 5px !important;
}

.plugin-uninstall {
    text-align: right;
    padding: 4px 5px 4px 5px !important;
}

.btn-action, .btn-action:visited, span.btn-uninstall a {
    text-align: center;
    display: inline-block;
    border-radius: var(--border-radius);
    text-decoration: none !important;
}

.btn-action {
    padding: 2px 4px 1px 5px;
    border: 1px solid var(--pp-grey);
    cursor: pointer;
    vertical-align: bottom;
}

.btn-uninstall {
    vertical-align: middle;
    background: var(--button-background-delete);
    padding: 4px 4px 4px 2px;
    margin: auto 2px;
    border-radius: var(--border-radius);
    border: 1px solid var(--pp-grey);
    display: inline-block;
    width: 100px;
    font-size: 1em;
}

td .btn-uninstall a, td .btn-uninstall a i {
    color: var(--pp-white) !important;
    text-decoration: none !important;
}

td .btn-uninstall:hover a {
    color: var(--pp-red-alt-2) !important;
}

.btn-uninstall:hover {
    background: var(--pp-white) !important;
    text-decoration: none !important;
}

.btn-uninstall:hover a, .btn-uninstall:hover a i {
    color: var(--pp-red-alt-2) !important;
}

.plugin-description td {
    padding-top: 10px !important;
    padding-bottom: 15px !important;
}

.plugin-description td {
    padding-top: 1em;
    padding-bottom: .5em;
}

#PluginTop {
    display: block;
    right: 0;
    position: relative;
    float: right;
    margin-top: 3px;
}

#PluginBottom {
    display: block;
    right: 0;
    position: relative;
    float: right;
    margin-bottom: 4px;
}

.tooltip-section {
    width: 500px;
}

.tooltip-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.tooltip-title i {
    color: var(--pp-orange);
    margin-right: 3px;
}

.tooltip-hr {
    box-shadow: var(--tooltip-box-shadow);
}

.tooltip-content {
    font-size: .8em;
}

.tooltip-content .tooltip-link {}

.tooltip-link {}

.not-specified {
    font-style: italic;
    font-size: .9em;
    color: var(--pp-orange);
}

.directory-info-wrapper {
    margin: auto;
    display: block;
    width: fit-content;
}

.directory-info {
    text-align: center;
}

.available-count {
    font-size: 1.1em;
    font-weight: bold;
    cursor: context-menu;
}

#DirectoryInfo {
    border-collapse: separate;
    border-spacing: 5px;
}

#DirectoryInfo > thead > tr > th {
    padding: var(--table-head-padding);
    background-color: var(--color-light);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: 2px inset var(--pp-grey);
    font-weight: 600;
    cursor: context-menu;
}

#DirectoryInfo > tbody > tr > td {
    padding: var(--table-head-padding);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: 2px inset var(--pp-grey);
}

.plugin-dir-view {}

.plugin-dir-url {
    font-weight: 300;
    cursor: context-menu;
}

.kb-app-version {
    cursor: context-menu;
    font-size: 1.1em;
}

#DirectoryInfo td.plugin-dir-view a {
    text-decoration: none !important;
}

#DirectoryInfo td.plugin-dir-view a svg {
    vertical-align: bottom;
    margin-right: 3px;
}

i.fa-cubes::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='currentColor' class='bi bi-tools' viewBox='0 0 16 16'%3E%3Cpath d='M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z'/%3E%3C/svg%3E");
    vertical-align: middle;
}

.available-plugin-last-updated {
    width: 165px;
    text-align: center;
    font-style: italic;
}


.available-plugin-version {
    width: 80px;
    text-align: center;
    font-family: monospace;
    font-size: 1.2em;
}

.available-plugin-version:before {
    content: 'v';
    margin: -6px;
}

